<div class="flex flex-col items-center justify-center h-screen w-96 mx-auto">
  <h2 class="text-2xl font-bold mb-8">Авторизация</h2>

  <form class="bg-white rounded-lg shadow-lg py-8 px-16 w-full">
    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2" for="username">Имя пользователя</label>
      <input type="text" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" name="username" required>
<!--             [(ngModel)]="username" -->

    </div>
    <div class="mb-6">
      <label class="block text-gray-700 font-bold mb-2" for="password">Пароль</label>
      <input type="password" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="password" name="password" required>
<!--      [(ngModel)]="password"-->
    </div>
    <div class="flex items-center flex-col justify-between">
      <button type="submit" class="text-white font-bold my-2 py-2 px-4 rounded focus:outline-none focus:shadow-outline">Войти</button>
      <div class="text-sm">
        <a routerLink="/forgot-password" class="text-blue-500 hover:text-blue-700">Забыли пароль?</a>
      </div>
    </div>
  </form>
  <div class="mt-4 text-sm">
    Нет аккаунта? <a routerLink="/register" class="text-blue-500 hover:text-blue-700">Зарегистрируйтесь</a>
  </div>
</div>
