button {
  background: linear-gradient(to right, #DE6262, #FFB88C);
  /* добавьте любые другие стили, такие как размер, цвет текста и т.д. */
}
a{
  color: #DE6262;
}
a:hover{
  color: #ab4949;
}

.ng-valid.ng-dirty:not([formGroupName]):not([formArrayName]):not([ngModelGroup]):not(form):not(paper-textarea)
{
  border: 2px solid #4caf50;
}
.ng-invalid.ng-dirty:not([ngModelGroup="address"]):not(form) {
  border: 2px solid #ff5722;
}
.input-error{
  color: #ff5722;
  font-size: 0.8em;
}

button[disabled] {
  background-color: rgba(0, 0, 0, 0.15);
  border-color: rgba(0, 0, 0, 0.1);
  pointer-events: none;
}
.error-message{
  text-align:center;
  font-weight: 800;
}
