<nav>
  <ul>
    <li>
      <a routerLink="/home">
        <img src="assets/images/logo.png" alt="Logo">
      </a>
      <div class="comics-menu">
        <a class="text-3xl" routerLink="/studio-comics">Студийные комиксы</a>
        <a routerLink="/author-comics">Авторские комиксы</a>
      </div>
    </li>
    <li>
      <div class="right">
        <a routerLink="/publishing"><img src="assets/images/Create.png" alt="publish"></a>
        <input type="text" class="search-input w-72 h-12 rounded-full border border-gray-500" placeholder="Поиск">
        <a *ngIf="!isAuthenticated" id="login" routerLink="/login">Войти</a>
        <a *ngIf="!isAuthenticated" routerLink="/registration">Регистрация</a>
      </div>
    </li>
  </ul>
</nav>
