<nav>
  <ul>
    <li><a routerLink="/home">
      <img src="assets/images/logo.png" alt="Logo">
    </a></li>
    <li><a class="text-3xl" routerLink="/studio-comics">Студийные комиксы</a></li>
    <li><a routerLink="/author-comics">Авторские комиксы</a></li>
    <li><a routerLink="/publishing"><img src="assets/images/Create.png" alt="publish"></a></li>
    <li>
      <input type="text" class="search-input w-72 h-12 rounded-full border border-gray-500" placeholder="Поиск">
    </li>
    <li><a routerLink="/login">Войти</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>
