.main{
  margin-top: 100px;
}
.comic{
  width: 1550px;
  margin: 0 auto;
}
.hr1{
  margin: 20px 0;
}
.hr2{
  width: 1550px;
  margin: 20px auto;
}
.chapters{
  width: 1550px;
  margin: 0 auto;
  padding-top: 15px;
}
li{
  width: 1500px;
}
h2{
  font-weight: bold;
}
.chapter{
  display: flex;
  justify-content: space-between;
}
.buttonReading{
  width: 118px;
  height: 50px;
}
#mainButton{
  background: linear-gradient(to right, #DE6262, #FFB88C);
}
.chapter-title, .chapter-date{
  font-size: 16px;
}
.title{
  font-weight: 600;
  font-size: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.cover-image{
  width: 284px;
  height: 426px;
  border-radius: 16px;
}
.comic-detail{
  display: flex;
  align-items: center;
}
.description{
  padding-left: 20px;
}
.author, .genre{
  font-weight: 600;
  font-size: 16px;
  margin-right: 10px;
}
.author-name, .genre-name{
  color: #DE6262;
  font-weight: 900;
}
