<div class="main">
  <div class="comic" *ngIf="comic">
    <h1 class="title">{{ comic.name }}</h1>
    <div class="comic-detail">
      <img [src]="getComicImageURL(comic.imageCoverBase64)" alt="Comic Cover" class="cover-image">
      <div class="description">
        <span class="author">Автор: </span>
        <span class="author-name">{{comic.author}}</span> <br><br>
        <span class="genre">Жанр: </span>
        <span class="genre-name" *ngFor="let genre of comic.genres">{{ translateGenre(genre) }}</span><br> <br>
        <p>{{ comic.description }}</p>
        <p>Rating: {{ comic.rating }}</p>
        <p>Type: {{ comic.type }}</p>
      </div>
    </div>
  </div>
<hr class="hr1">
  <div class="chapters" *ngIf="chapters">
    <h2>Главы</h2>
    <hr class="hr2">
    <ul>
      <li  *ngFor="let chapter of chapters">
        <div class="chapter">
          <div class="chapter-title">{{ chapter.name }}</div>
          <div class="chapter-date">Июнь 5, 2023</div>
          <button id="mainButton" type="submit" class=" text-white font-bold py-2 px-4 rounded">
            <a [routerLink]="'chapter/' + chapter.name" class="read-button">Читать</a>
          </button>
        </div>
      </li>
    </ul>
  </div>


</div>
