.home{
  padding-top: 100px;
}

.comics-list-banner {
  display: flex;
  justify-content: space-between;
}

.comic-card-banner {
  margin: 10px;
  width: 184px;
}

.comic-details-banner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cover-image {
  width: 184px;
  height: 276px;
  object-fit: cover;
  border-radius: 10px;
}

.comic-info-banner {
  /* Остальные стили для .comic-info-banner */
}

.comic-banner-genre {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #848382;
  position: relative;
  padding-right: 8px;
  /* Остальные стили для .genre */
}


.comic-banner-title {
  font-weight: 600;
  font-size: 16px;
  /* Остальные стили для .title */
}



.comics-list-main {
  display: flex;
  flex-wrap: wrap;
  width: 1640px;
  margin: 0 auto;
}

.comic-card-main {
  position: relative;
  display: inline-block;
  width: 492px;
  height: 272px;
  background: #FFFFFF;
  border: 0.5px solid #848382;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  flex-basis: calc(50% - 20px); /* Чтобы отображать по две карточки в ряду, ширина должна быть 50% минус отступы */
  margin: 10px;
}

.comic-details-main {
  display: flex;
  padding: 10px;
}

.cover-image-main {
  width: 176px;
  height: 244px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 10px;
}

.comic-info-main {
  flex: 1;
}

.comic-main-title{
  font-weight: 600;
  font-size: 18px;
}

.comic-main-genre{
  color: #DE6262;
}
.comic-main-description {
  height: 150px; /* Задайте желаемую высоту для описания комикса */
  overflow: hidden; /* Скрывает текст, который выходит за высоту */
  text-overflow: ellipsis; /* Добавляет многоточие в конце обрезанного текста */
}

.comic-main-rating-type {
  font-size: 14px;
  color: #848382;
  margin-bottom: 8px;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

