<div class="home">
  <div class="comics-list-banner">
    <!-- List of comics with covers, names, and genres -->
    <a [routerLink]="['/comic', comic.name]" *ngFor="let comic of comics" class="comic-card-banner">
      <div class="comic-details-banner">
        <img [src]="getComicImageURL(comic.imageCoverBase64)" alt="Comic Cover" class="cover-image">
        <div class="comic-info-banner">
          <p class="comic-banner-genre" *ngFor="let genre of comic.genres">{{ translateGenre(genre) }}</p>
          <h3 class="comic-banner-title">
            <a>{{ comic.name }}</a>
          </h3>
        </div>
      </div>
    </a>
  </div>

  <div class="comics-list-main">
    <!-- List of comics with descriptions, ratings, and types -->
    <a [routerLink]="['/comic', comic.name]" *ngFor="let comic of comics" class="comic-card-main">
      <div class="comic-details-main">
        <img [src]="getComicImageURL(comic.imageCoverBase64)" alt="Comic Cover" class="cover-image-main">
        <div class="comic-info-main">
          <h3 class="comic-main-title">{{ comic.name }}</h3>
          <span class="comic-main-genre" *ngFor="let genre of comic.genres">{{ translateGenre(genre) }}</span>
          <p class="comic-main-description">{{ comic.description }}</p>
          <div class="bottom"></div>
          <p class="comic-main-rating-type">
            Rating: {{ comic.rating }} | Type: {{ comic.type }}
          </p>
        </div>
      </div>
    </a>
  </div>

</div>
